/* BACKGROUND COLOR */
 
.theme-btn:before,
.theme-btn,
nav > ul > li:hover > a:after,
.city-content > h4 > a:hover,
.social-btns > li > a,
.heading6 > p:before,
.heading7:before,
.shippment-guide > ul > li:before,
.cargo-tags > a:hover:before,
.tagcloud > a:hover:before,
.gallery-detail > h3:before,
.packages-info > .nav > li > a:before,
.responsive-menu ul li:hover > a:before,
.responsive-menu ul li.active > a:before,
.cargo-progress .progress .progress-bar,
.post-thumb > span,
.cities-detail > h4 > a:hover,
.center .body-data > a,
.slide-btn:hover,
.plan:hover .theme-btn,
.menubar nav > ul > li > a:after,
.date > span,
.responsive-menu .responsive-popup-btns > li > i,
.view-all-vertical:hover,
.view-all .theme-btn:hover,
.fancy-service:hover:before,
.theme-btn.dark:hover,
.project-detail > span > i:before,
.shipment-visibility > form .theme-btn,
.track-form,
.cargo-packages-list > li > span,
.view-all .theme-btn,
.customer-detail > p > span,
nav > ul > li ul li:before,
nav > .menu > ul > li ul li:before,
.mega-list > li::after,
.callus-action > a,
.callus4,
.thm-skin,
.quick-contact > ul > li > .theme-btn:hover,
.blog-post-carousel .owl-nav > div:hover, 
.cities-carousel .owl-nav > div:hover, 
.project-overview-carousel .owl-nav > div:hover,
.modern-services-carousel .owl-nav > div:hover::before,
.customers-review-carousel .owl-nav > div:hover,
.toggle-style4 .toggle-item > h3.active,
.toggle-style6 .toggle-item > h3.active > i,
.toggle-style7 .toggle-item > h3 > i,
.toggle-style8 .toggle-item,
.tags-div .cargo-tags > a:hover::before,
.blu-skin:hover,
.drk-skin:hover,
.lgt-skin:hover,
.tabs2 .nav > li::before,
.gray .progress-bars4 .progress-bar,
.social-btns2 > li > a:hover,
/*====== New Pages ======*/
.pagination > ul > li > span,
.pagination > ul > li > a:hover,
.pagination > ul > li > a.prev:hover, 
.pagination > ul > li > a.next:hover,
header.center-logo.light .centerlogo-socialmedia .theme-btn:hover,
.transport-tabs-selector > ul > li.active .tab-padding::before,
.transport-tabs-selector > ul > li:hover .tab-padding::before,
.transport-tab-data > i,
.thm-social > li > a,
.tabs-styles .nav > li.active > a,
.messagebox-style1-4 .messagebox,
.messagebox-style2-3 .message-title > i,
.messagebox-style2-4,
.messagebox-style3-4 .messagebox,
.messagebox-style3-4 .messagebox > i,
.growbusiness-tabs > .nav-tabs > li.active > a,
.detail-links > li:first-child > a:hover,
.calendar_wrap > table tbody tr td#today:hover,
.widget  form input.search-submit{
	background-color: #ffb400;
}



/* FONT COLOR */

.cargo-time > i,
.extra-links > a:hover,
.quick-contact > ul li p,
.service-detail > span,
.heading > span,
.bottom-line ul > li > a:hover,
.heading2 > span,
.widget ul > li > a:hover:before,
.widget ul > li > a:hover,
.bottom-line span > a,
.partners .owl-nav > div:hover:before,
.company-detail > h3:hover > a,
.post-info > h3:hover > a,
.title1 > i,
.header2 .extra-links,
.header2 .extra-links a:hover,
.header2 .menu-curve > ul > li > a:hover,
nav > ul > li ul li:hover > a,
nav > .menu > ul > li ul li:hover > a,
.title2 > strong,
.packages-info > h2 > a:hover,
.news-detail > h2 > a:hover,
.post-meta2 > li > a:hover,
.customer-info > h5,
.member-info > span,
.member-info > h4 > a:hover,
.share-it > ul > li > a:hover,
.comment-info > i,
.comment-info > h6 > a:hover,
.heading7 > span,
.avatar > li > a,
.date2 > a,
.cargo-video-cap > a,
.city-thumb > a:hover,
.toggle-item > h3.active,
.toggle-item > h3.active > i,
.gallery-detail > a,
.recent-news-desc > h2 > a:hover,
.contact:hover > i,
.services-menu > ul > li > a:hover,
.social-links > li > a:hover,
.team-cap > h4 > a:hover,
.heading8 > p > i,
.cargo-progress > li > h4,
.terms-services > span > label > a,
.responsive-btn:hover,
.responsive-menu ul li:hover > a,
.responsive-menu ul li:hover > a:after,
.responsive-menu ul li.active > a,
.responsive-menu ul li.active > a:after,
.close-btn:hover,
.post-info2 > h4 > a:hover,
.head-data > span,
.project-detail > h4 > a:hover,
.cargo-packages-list > li > h3 > a:hover,
.cargo-packages-list > li > a,
.text-color,
.slide-btn:before,
.sign-in ul > li:last-child > a:hover,
.si .fragile > span > label > a,
.shippment-guide > ul > li > a:hover,
.service-info > h5 > a:hover,
.simple-header .top-bar .extra-links a:hover,
.simple-header .top-bar .connect-us .social-btn > li > a:hover,
.menubar nav > ul > li:hover > a,
.main-carousel-cap > h1,
.team-cap > span,
.widget-data > form button:hover,
.recent-post-content > h4 a:hover,
.pack-info > strong > i,
.pack-info > span > i,
.delivered-info > li i,
.mod-service-inner > i,
.mod-service-inner > h3 a:hover,
.column-title > span,
.heading2.light span,
.cargo-packages-list > li > i,
.project-detail > span > i,
.dark-title > span i,
.cargo-size > h4 i,
.extra-services > h4 i,
.shipment-visibility > span,
.social-btn > li > a,
.header2 .connect-us > ul > li > a,
.dark-title.light > span,
.shipment-name > span,
nav > ul > li ul li.menu-item-has-children:hover > a:before,
nav > .menu > ul > li ul li.menu-item-has-children:hover > a:before,
.header2 .connect-us > ul > li > a,
.mega-list > li:hover:before,
.mega-list > li:hover > a,
.mega-list2 > li:hover > a,
.thm-bor-skin,
.service-box1 > span,
.shipment-visibility > form .theme-btn:hover,
.subscription-form .theme-btn:hover,
.shipment-guide a.theme-btn:hover,
.request-quote-body > a:hover,
.view-all .theme-btn:hover,
.header3 .menu-curve > ul > li > a:hover,
.toggle-style3 .toggle-item > h3.active,
.toggle-style3 .toggle-item > h3.active > i,
.toggle-style4 .toggle-item > h3.active > i,
.toggle-style9 .toggle-item > h3.active,
.toggle-style9 .toggle-item > h3.active > i,
.cat-list > span,
.cat-list > ul > li > a:hover,
.orgnaizer-info > ul > li a:hover,
.drk-bor-skin:hover,
.cargo-video2 .cargo-video-cap > p > a:hover,
.cargo-video2 .cargo-video-cap > a:hover,
/*====== New Pages ======*/
.notfound-content > h3,
.search-bar > h4 > span,
header.center-logo nav > ul > li:hover > a,
header.center-logo.light nav > ul > li:hover > a,
.tab-title > i,
.transport-tab-data > span,
.transport-tab-data > .theme-btn:hover,
.thm-social > li:hover > a,
.zero-counters .counter-styles > span,
.menu-curve > ul > li:hover > a,
.menu-curve > .menu > ul > li:hover > a,
.messagebox > span,
.safe-affordable-cargo .theme-btn:hover,
.dark-title.style2 > span,
.main-video-cap > h1 > span,
.calendar_wrap > table tbody tr td#today > a,
.calendar_wrap > table tfoot tr td#next > a,
.calendar_wrap > table tfoot tr td#prev > a,
.recentcomments > span a:hover,
#recentcomments .recentcomments > a:hover,
.recentcomments > span a,
.widget  form input.search-submit:hover,
.comment table tr td a,
.comment dl dd a,
.comment p a,
.logged-in-as > a,
.news-box p a,
.wp-caption-text > a
{
    color: #ffb400;
}


/* BORDER COLOR */

.partners .owl-nav > div:hover,
.cargo-video-cap > a,
.post-thumb > span:before,
.project-detail > a:hover,
.header2 .top-bar,
.shipment-name > span,
.thm-bor-skin,
.shipment-visibility > form .theme-btn,
.subscription-form .theme-btn,
.shipment-guide a.theme-btn,
.request-quote-body > a,
.view-all .theme-btn,
.toggle-style7 .toggle-item.activate,
.drk-bor-skin:hover,
.cargo-video2 .cargo-video-cap > a:hover,
.tabs2 .tab-content .tab-pane,
.social-btns2 > li > a:hover,
.light .social-btns2 > li > a:hover,
.transport-tab-data > .theme-btn,
.thm-social > li > a,
.messagebox-style1-4 .messagebox,
.messagebox-style3-4 .messagebox,
#about-shipment\ style2 .safe-affordable-cargo .theme-btn,
.detail-links > li > a,
.detail-links > li:first-child > a:hover,
.widget  form input.search-submit
{
    border-color: #ffb400;
}

.plan:hover:before,
.plan:hover:before,
#submission-message .modal-content,
nav > ul > li ul,
nav > .menu > ul > li ul,
.megamenu,
.messagebox-style2
{
	border-top-color: #ffb400;
}

.messagebox-style1-4 .messagebox::before
{
	border-bottom-color: #ffb400; 
}